    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CutURL</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
  background: F44336;
}
* {
  font-family: Raleway;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #28a745;color:#fff">
    <a class="navbar-brand" href="/" style="color:#fff">CutURL</a>
        <span class="navbar-text">
      {{!-- <button type="button" class="btn btn-light">Login</button> --}}
      <button type="button" class="btn btn-light" onclick="window.location.href='/register'">Signup</button>
    </span>
</nav>
<br/><br/>
    <p class="text-center">LOGIN</p>
    <div class="form-group" style="width: 50%;margin-left: 25%;
                               text-align: -webkit-center;
                               ">
        <form action="/login" method="post">
            <input class="form-control" type="email" id="shortenURL" name = "email" placeholder="Enter yor email"><br/>
            <input class="form-control" type="password" id="shortenURL" name = "password" placeholder="Enter yor password"><br/>
            <button class="btn btn-success" type="submit" id="shorten">login</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
    
    
    
